{{define "content"}}
{{template "header"}}
		<div class="warp">
			<nav>
				<a href="/">home</a>
			</nav>

			<header>
				<h1>
					<span class="site-name">ZHANG<strong>LIN</strong></span>
					{{if .PageName}}
						<span class="page-name">{{ .PageName }}</span>
					{{end}}
				</h1>
			</header>

			<section class="main">
				<ul class="list">
					{{range .Posts}}
						<li class="item">
							<a href="/{{.Id}}">{{.Title}}</a><br />
							<small>{{tmpTimeFormat .Time}}</small>
						</li>
					{{end}}
				</ul>
			</section>

			<footer>
				powered by <a title="mind" href="https://github.com/z8/mind">mind</a>
			</footer>
		</div>
{{template "footer"}}
{{end}}