{{define "content"}}
{{template "header"}}
		<div class="warp">
			<nav>
				<a href="/">home</a>
			</nav>

			<header>
				<h1>
					{{.Title}}
				</h1>
				<ul>
					<li><span>category</span><a href="/go/{{.Category}}">{{.Category}}</a></li>
					<li><span>time</span>{{.Time}}</li>
				</ul>
			</header>
			
			<section class="main">
				{{.Content}}
			</section>
			
			<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
			<div id="disqus_thread"></div>
			<script>
				var disqus_shortname = 'zhanglin';
					(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					})();
				</script>

			<footer>
				powered by <a title="mind" href="https://github.com/z8/mind">mind</a>
			</footer>
		</div>
{{template "footer"}}
{{end}}