body {
	color: #666;
}

a {
	color: #c00;
}

h1 {
	font-family: "Palatino", "Hiragino Mincho ProN", serif;
}

h2,
h3 {
	font-weight: bold;
}

nav {
	padding: 10px 0;
	font-size: 12px;
}

header {
	margin: 0 0 30px;
}

header h1 {
	padding: 10px 0;
	color: #000;
	font-size: 18px;
}

header ul {
	margin: 10px 0 0;
	font-size: 12px;
}

header ul span {
	display: inline-block;
	width: 70px;
	color: #999;
}

.main {
	margin: 0 0 30px;
}

.main small{
	font-size: 12px;
}

.main h2,
.main h3 {
	color: #000;
	font-size: 14px;
}

.main h2,
.main h3,
.main h4,
.main p,
.main ul,
.main blockquote,
.main pre {
	margin: 0 0 10px;
}

.main ul {
	list-style: circle;
}

.main blockquote {
	border-radius: 5px;
}

.main hr {
	margin: 20px 0;
	border: none;
	border-bottom: 1px dashed #ccc;
}

footer {
	margin: 50px 0 20px;
	color: #999;
	font-size: 12px;
}

.warp {
	margin: 0 40px;
	max-width: 800px;
}

.item {
	list-style: none;
	margin-bottom: 20px;
	line-height: 1.4;
}

.item a {
	font-family: "Palatino", "Hiragino Mincho ProN", serif;
	color: #333;
}

.input-text,
.textarea {
	max-width: 750px;
	display: block;
	margin: 20px 0;
	padding: 20px;
	border: 1px solid #eee;
	border-radius: 5px;
	outline: none;
	resize: none;
	background: #fbfbfb;
}

.button {
	padding: 10px;
	border: 1px solid #ccc;
	background: #eee;
	border-radius: 5px;
}

.post {
	padding: 0 10px;
	max-width: 800px;
	margin: 0 auto;
}

.post .textarea {
	width: 100%;
	height: 300px;
	font-family: "Courier New", Courier, monospace;
	-webkit-box-sizing: border-box;
}


@media only screen and (min-device-width:320px) and (max-device-width:640px){

	html {
		-webkit-text-size-adjust:none;
	}

	textarea,
	input {
		-webkit-appearance: none;
	}

	.warp {
		margin: 0 10px;
	}

}

#disqus_thread {
	font-size: 12px;
}